body {
    background-color: #F9FAFC;
}

.brand {
    font-family: Lato, sans-serif;
    font-size: 1.4rem;
    font-weight: 700;
    color: #4A4A4F;
}

.red-o {
    color: #E84610;
}

.thin {
    font-weight: 300;
}

.light-bg {
    background-color: #fff;
}

.dark-bg {
    background-color: #445261;
}

.main-bg {
    background-color: #F9FAFC;
}

.card {
    border: none;
    background-color: transparent;
}

.image-container {
    position: relative;
}

.image-flash {
    position: absolute;
    bottom: 5%;
    min-width: 30%;
    left: -2px;
    background-color: #000000;
}    

.author {
    color: rgb(255, 255, 255);
    margin: 4px;
    text-transform: uppercase;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}


/* to separate masthead from featured image and make sure both sections are same size*/
.masthead {
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 10%;
    overflow: hidden;
    position: relative;
    height: 43vh;
    width: 80%;
    background-color: #000000;
}

.masthead-text {
    display: flex; /* Use flexbox to align elements */
    justify-content: left; /* Center content horizontally */
    color: #fff;
}

.post-title {
    margin-bottom: 10px; /* Adjust spacing as needed */
    font-size: 40px; /* Adjust font size as needed */
}

.post-subtitle {
    font-size: 20px; /* Adjust font size as needed */
}


.featured-image {
    width: 88%; /* Set a fixed width */
    height: 500px; /* Set a fixed height */
    object-fit: cover; /* Ensure the image covers the specified dimensions */
    margin-left: 6%;
}

/* to make sure trending articles on home page are same size*/
.card-img-container {
    overflow: hidden; /* Hide any overflowing content */
    height: 200px; /* Set a fixed height for the container */
}
  
  .card-img-container img {
    width: 100%; /* Ensure the image fills the container horizontally */
    height: auto; /* Preserve aspect ratio */
}
  

/* to make sure images on the read page are same size*/
.image-container {
    overflow: hidden;
    height: 200px; /* Set a fixed height for the image container */
}
  
  .image-container img {
    width: 100%;
    height: auto; /* Preserve aspect ratio */
}
  

.post-link {
    text-decoration: none;
    color: #445261;
}

.post-link:hover,
.page-link {
    color: #0073ff;
}

.post-title {
    margin-top: 20%;
    margin-left: 5%;
}

.post-subtitle {
    margin-left: 5%;
    color: lightgray;
}

.btn-signup {
    background-color: #000000;
    color: #fff;
    transition: color 0.3s, background-color 0.3s; 
}

.btn-signup:hover,
.btn-signup:active {
    background-color: #fff;
    color: #000000;
    border: 2px solid black; 
}

.link {
    color: #006e1a;
    text-decoration: none;
}

.link:hover,
.link:active {
    color: #445261;
    text-decoration: underline;
}

.btn-like {
    color: #E84610;
    border: none;
    background: transparent;
}

.btn-like:hover,
.btn-like:active {
    color: #E84610;
    background: transparent;
    border: none;
}

/* My CSS*/

/* Get started button*/
.nav-link.btn-dark {
    transition: color 0.4s, background-color 0.4s;
}

.nav-link.btn-dark:hover {
    background-color: white;
}


.nav-link.btn-dark:hover,
.nav-link.btn-dark:hover .btn {
    color: black !important;
}


/* To push footer to the bottom*/
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

/* Heading and subheading on homepage image*/
.custom-display {
    font-size: 106px; 
}

.custom-display-2 {
    font-size: 24px; 
}

/* Jumbotron start reading button*/
.jumbotron-btn:hover {
    color: #fff !important;
    background-color: #006e1a !important;
}

/* Button on 6 posts visible on landing page */
.btn-black {
    background-color: black;
    color: white; 
    padding-left: 40px;
    padding-right: 40px; 
    transition: color 0.3s, background-color 0.3s; 
}


.btn-black:hover {
    background-color: white; 
    color: black; 
    border: 2px solid black; 
}

.btn-pill {
    border-radius: 50px; 
}

.btn-full-width {
    display: block;
    width: 100%;
    margin-bottom: 10px; 
}


/* About us text */
.full-width-bg {
    background-color: rgb(0, 0, 0); /* Change to your desired color */
}


.lead {
    font-size: 80px; 
    color: #fff;
    padding-top: 50px; 
    padding-bottom: 50px; 
}


.lead-1 {
    font-size: 25px;  
    padding-right: 50%;
    color: #fff;
}


.highlighted-text {
    background-color: rgb(108, 108, 108);
    display: inline-block; /* Ensures the container expands only to fit the text */
    font-size: 30px; 
    margin-right: 50%;
    color: #fff;
}


/* About us 2 buttons */
.strip {
    display: flex; 
    justify-content: space-between; 
    align-items: center;
    width: 100%;
    background-color: black;
    text-align: left;
    transition: background-color 0.3s ease, color 0.3s ease; /* Added color transition */
    text-decoration: none;
    color: white;
    padding-top: 55px; 
    padding-bottom: 55px; 
    padding-left: 30px; 
    padding-right: 30px; 
    font-size: 60px;
}

.strip:hover {
    background-color: white;
    color: black; 
}

.divider {
    color: #fff;
    padding-top: 3px;
    padding-bottom: 3px; 
}


/*Login page*/
.form-control {
    margin-bottom: 1rem;
}
  
.card {
    padding: 2rem;
}
  
/*Log out page bg image*/
.bg-image-1 {
    background-image: url('https://res.cloudinary.com/dugcwv1mf/image/upload/v1710248012/Project%201/89_hd0fx2.jpg');
    background-size: cover;
    background-position: center;
}


/*Profile publish post button*/
.btn-custom:hover {
    color: #000 !important;
    background-color: #fff !important;
}

/*Manage list of published posts in profile*/
.list-group {
    max-width: 1000px; /* Adjust the max-width as needed */
    margin: 0 auto; /* Center the list group */
}

.post-link {
    padding-bottom: 25px; 
    padding-top: 25px; 
}


/* Landing page get started block */
.strip-landing {
    display: flex; 
    justify-content: center;
    width: 100%;
    background-color: black;
    transition: background-color 0.3s ease, color 0.3s ease; /* Added color transition */
    text-decoration: none;
    color: white;
    padding-top: 100px; 
    padding-bottom: 50px; 
    font-size: 60px;
}


.btn-custom-1 {
    background-color: #fff;
    color: #000;
}

.btn-custom-1:hover {
    background-color: #006e1a;
    color: #fff;
}


.bottom {
    background-color: #000;
    padding-bottom: 100px;
}